.App {
    font-family: "Open Sans", sans-serif !important;
    text-align: center;
}

.App .navbar-brand {
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", serif;
}

select.form-control,
textarea.form-control,
input.form-control {
    font-size: 16px;
    float: right;
}

label.form-label {
    float: left;
}

input[type=file] {
    width: 100%;
}

.Login {
    height: 80vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat {
    font-size: 12px;
    margin: 20px;
    background-color: transparent;
    width: 95%;
    min-height: 200px;
    padding: 20px;
    overflow: visible !important;
    border-radius: 10px;
}

.resources {
    font-size: 14px;
    background-color: white;
    min-width: 90%;
    height: 150px;
    padding: 20px;
    overflow: visible !important;
    text-decoration: none !important;
    color: inherit !important;
    text-align: center;
    margin: 10px;
    align-content: flex-start;
    border-radius: 10px;
}

.resources:hover {
    -webkit-box-shadow: 0 0 10px #DBDBDB;
    box-shadow: 0 0 10px #DBDBDB;
}

.resourceLogo {
    margin-bottom: 20px;
    height: 48px;
    width: auto;
}

.operation {
    font-size: 12px;
    background-color: white;
    min-width: 95%;
    height: 150px;
    padding: 30px;
    overflow: visible !important;
    text-decoration: none !important;
    color: inherit !important;
    text-align: center;
    margin: 10px;
    align-content: flex-start;
    border-radius: 10px;
}

.operation:hover {
    -webkit-box-shadow: 0 0 10px #DBDBDB;
    box-shadow: 0 0 10px #DBDBDB;
}

.operations-container {
    padding: 75px 1% 1%;
    width: 100%;
    margin: -60px 0 0;
}

.resourcesContainer {
    padding: 75px 7% 7%;
    width: 100%;
    margin: -40px 0 0;
    position: relative;
}

.operationName {
    text-decoration: none;
    color: #212121;
    font-family: "Open Sans", sans-serif !important;
}

.resourcesName {
    text-decoration: none;
    color: #212121;
    font-family: "Open Sans", sans-serif !important;
}

.operationSection {
    width: 100%;
    margin-top: 10px;
    padding-top: 3%;
    height: 25%;
    margin-bottom: 30px;
    text-decoration: none;
}

.operationHeader {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 30px;
    font-size: 14px !important;
    color: #212121;
    text-align: left;
}

* {
    text-decoration: none;
}

.statistics-container {
    padding: 5%;
}

.op-icon {
    font-size: 3rem !important;
    text-decoration: none !important;
    color: #333;
    margin-bottom: 10px;
}

.MuiIcon-root {
    /*color: #e64a19;*/
}

.MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3, .MuiTypography-h4, .MuiTypography-h5, .MuiTypography-h6, .MuiTypography-body1  {
    font-family: "Open Sans", sans-serif !important;
}



svg {
    overflow: visible !important;
}

.mosaicLogo {
    margin-bottom: 10px;
    height: 32px;
    width: auto;
}




.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: black;
    border-radius: 50px;
    position: relative;
    transition: background-color .3s;
}

.react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100%);
    transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
    width: 50px;
}


.ventureStage {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ventureStage li {
    display: inline-block;
    padding: 20px;
}

.ventureStage-selected {
    display: inline-block;
    padding: 20px;
    border-bottom: 3px solid mediumspringgreen;
}

.loadingDiv {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ideaLoading {
    width: 64px;
    height: auto;
    left: 50%;
    -webkit-animation: rotateY 2s infinite linear;
    animation: rotateY 2s infinite linear;
}

@-webkit-keyframes rotateY {
    to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
    to { transform: rotateY(360deg); }
}

.footer {
    /*margin-top: 100vh;*/
}

.iframeStyle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    height: 200px;
}

.fileContainer {
    padding: 1%;
}

.container {
    margin: 5%;
}

.file {
    margin: 20px;
}

.founders {
    list-style: none;
    display: inline-block;
    float: left;
    width: 100%;
}

.founders li {
    list-style: none;
    display: inline-block;
    margin-right: 5%;
}